html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 19%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 16px;
  min-height: 100vh;
  
}

.daytime {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("/assets/mobile/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("/assets/tablet/bg-image-daytime.jpg");
  }
  @media (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
      url("/assets/desktop/bg-image-daytime.jpg");
  }
}

.nighttime {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/mobile/bg-image-nighttime.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/tablet/bg-image-nighttime.jpg");
  }
  @media (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/desktop/bg-image-nighttime.jpg");
  }
}

h1 {
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 100px;
  letter-spacing: -2.5px;
  color: var(--white);
  @media (min-width: 768px) {
    font-size: 10.9375rem;
    line-height: 175px;
    letter-spacing: -4.375px;
  }
  @media (min-width: 1280px) {
    font-size: 12.5rem;
    line-height: 200px;
    letter-spacing: -5px;
  }
}


h2 {
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 0.8125rem;
    letter-spacing: 2.6px;
  }
  @media (min-width: 1280px) {
    font-size: 0.9375rem;
    letter-spacing: 3px;
  }
}


h3 {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--white);
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: 3.6px;
  }
  @media (min-width: 1280px) {
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 4.8px;
  }
}

h4 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--white);
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 28px;
    letter-spacing: 3.6px;
  }
  @media (min-width: 1280px) {
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 4px;
  }
}

h5 {
  font-size: 0.75rem;
  line-height: 22px;
  color: var(--white);
  @media (min-width: 768px) {
    font-size: 1.125rem;
    line-height: 28px;
  }
}


h6 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  /* color: var(--grey); */
  @media (min-width: 768px) {
    font-size: 2.5rem;
    line-height: 48px;
  }
  @media (min-width: 1280px) {
    font-size: 3.5rem;
    line-height: 68px;
  }
}